In [3]:
# Dependencies and Setup
import pandas as pd

# File Path is different when using on other computers
# file_to_load = "C:\\Users\\JMadd\\Desktop\\Homework\\04-Pandas\\Instructions\\HeroesOfPymoli\\Resources\\purchase_data.csv"

file_to_load = "Resources\\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [4]:
#Display the total number of players

total_players = df['SN'].nunique()
print(total_players)

576

In [5]:
#Run basic calculations to obtain number of unique items, average price, etc.
#Create a summary data frame to hold the results
#Display the summary data frame

numitems = df['Item ID'].nunique()

meanprice = df['Price'].mean()

tp = df['Purchase ID'].count()

revenue = df['Price'].sum()

summary1 = pd.DataFrame.from_dict({"Number of unique items":[numitems],"Average Price":[meanprice],"Number of Purchases":[tp],"Total Revenue":[revenue]}, orient='columns')

summary1["Total Revenue"] = summary1["Total Revenue"].map("$ {:,.2f}".format)
summary1["Average Price"] = summary1["Average Price"].map("$ {:,.2f}".format)

print(summary1)

   Number of unique items Average Price  Number of Purchases Total Revenue
0                     183        $ 3.05                  780    $ 2,379.77

In [6]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

df2 = df.groupby(['SN','Gender', 'Age']).count().reset_index()

count = df2.Gender.value_counts()

percentage = ((count/len(df2.index))*100).map('%{:,.2f}'.format)

summary2 = pd.DataFrame({'Percent': percentage, 'Count': count})

print(summary2)

                      Percent  Count
Male                   %84.03    484
Female                 %14.06     81
Other / Non-Disclosed   %1.91     11

In [7]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Display the summary data frame


gpcount = df.groupby(['Gender'])['Purchase ID'].count()

app = df.groupby(['Gender'])['Price'].mean().map('${:,.2f}'.format)


atpp = df.groupby(['Gender'])['Price'].sum().map('${:,.2f}'.format)

summary3 = pd.DataFrame({'Items Purchased': gpcount, 'Average Price': app, 'Total Spent': atpp})
                    
print(summary3)

                       Items Purchased Average Price Total Spent
Gender
Female                             113         $3.20     $361.94
Male                               652         $3.02   $1,967.64
Other / Non-Disclosed               15         $3.35      $50.19

In [8]:
#Establish bins for ages
#Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
#Display Age Demographics Table

df3 = df[['SN', 'Age', 'Price']].copy()

summary4= pd.DataFrame(zip(df3.SN, df3.Age,))

bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 50]
group_names = ['<10', '10-13', '14-17', '18-21', '22-25', '26-29', '30-33', '34-37', '38-40', '50>']


df3['AgeGroup'] = pd.cut(df3['Age'], bins, labels=group_names)


Ag = df3.groupby(['AgeGroup'])['Age'].count()
Pag = ((df3.groupby(['AgeGroup'])['Age'].count())/len(df3)*100).map('%{:,.2f}'.format)

summary4 = pd.DataFrame({'Number': Ag, 'Percent': Pag}).reset_index()

print(summary4)

  AgeGroup  Number Percent
0      <10      23   %2.95
1    10-13      26   %3.33
2    14-17      89  %11.41
3    18-21     210  %26.92
4    22-25     263  %33.72
5    26-29      42   %5.38
6    30-33      64   %8.21
7    34-37      35   %4.49
8    38-40      21   %2.69
9      50>       7   %0.90

In [20]:
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#Create a summary data frame to hold the results
#Display the summary data frame

df4 = df[['Age', 'Gender', 'Price']].copy()

summary5 = pd.DataFrame(zip(df4.Age, df4.Gender, df4.Price))

bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 120]
group_names = ['<10', '10-13', '14-17', '18-21', '22-25', '26-29', '30-33', '34-37', '38-40', '>40']

df4['AgeGroup'] = pd.cut(df4['Age'], bins, labels=group_names)

Agc = df4.groupby(['AgeGroup'])['Price'].count()
Agapp = df4.groupby(['AgeGroup'])['Price'].mean().map('${:,.2f}'.format)
Agtps = df4.groupby(['AgeGroup'])['Price'].sum().map('${:,.2f}'.format)

summary5 = pd.DataFrame({'# of Purchases': Agc, 'Average Price': Agapp, 'Total Spent': Agtps,}).reset_index()

print(summary5)

  AgeGroup  # of Purchases Average Price Total Spent
0      <10              23         $3.35      $77.13
1    10-13              26         $2.92      $75.87
2    14-17              89         $3.01     $267.60
3    18-21             210         $3.08     $647.26
4    22-25             263         $3.05     $800.90
5    26-29              42         $2.65     $111.10
6    30-33              64         $3.00     $191.87
7    34-37              35         $3.21     $112.33
8    38-40              21         $3.53      $74.18
9      >40               7         $3.08      $21.53

In [23]:
#Run basic calculations to obtain the results in the table below
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order
#Display a preview of the summary data frame

TS = df.groupby(['SN'])['Price'].sum()

TS2 = pd.DataFrame({'Total': TS})

summary6 = TS2.nlargest(5, ['Total']).reset_index()

summary6["Total"] = summary6["Total"].map("$ {:,.2f}".format)

summary6

            SN    Total
0    Lisosia93  $ 18.96
1  Idastidru52  $ 15.45
2   Chamjask73  $ 13.83
3       Iral74  $ 13.62
4  Iskadarya95  $ 13.10

In [25]:
#Retrieve the Item ID, Item Name, and Item Price columns
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
#Display a preview of the summary data frame

df5 = df[['Item ID', 'Item Name', 'Price']].copy()

MPop = df5.groupby(['Item ID', 'Item Name', 'Price'])['Price'].count()

MPop2 = df5.groupby(['Item ID', 'Item Name', 'Price'])['Price'].sum()

MPop3 = pd.DataFrame({'Number Sold by Item': MPop, 'Total Revenue per Item': MPop2})

mPop4 = MPop3.nlargest(5, ['Number Sold by Item'])

summary7 = mPop4.sort_values(by='Number Sold by Item', ascending=False).reset_index()

summary7["Price"] = summary7["Price"].map("$ {:,.2f}".format)

summary7["Total Revenue per Item"] = summary7["Total Revenue per Item"].map("$ {:,.2f}".format)

summary7

,Item ID,Item Name,Price,Number Sold by Item,Total Revenue per Item
0,178,"Oathbreaker, Last Hope of the Breaking Storm",$ 4.23,12,$ 50.76
1,82,Nirvana,$ 4.90,9,$ 44.10
2,108,"Extraction, Quickblade Of Trembling Hands",$ 3.53,9,$ 31.77
3,145,Fiery Glass Crusader,$ 4.58,9,$ 41.22
4,19,"Pursuit, Cudgel of Necromancy",$ 1.02,8,$ 8.16

In [26]:
#Sort the above table by total purchase value in descending order
#Display a preview of the data frame

MProf = MPop3.nlargest(5, ['Total Revenue per Item'])

summary8 = MProf.sort_values(by='Total Revenue per Item', ascending=False).reset_index()

summary8["Price"] = summary8["Price"].map("$ {:,.2f}".format)

summary8["Total Revenue per Item"] = summary8["Total Revenue per Item"].map("$ {:,.2f}".format)

summary8

,Item ID,Item Name,Price,Number Sold by Item,Total Revenue per Item
0,178,"Oathbreaker, Last Hope of the Breaking Storm",$ 4.23,12,$ 50.76
1,82,Nirvana,$ 4.90,9,$ 44.10
2,145,Fiery Glass Crusader,$ 4.58,9,$ 41.22
3,92,Final Critic,$ 4.88,8,$ 39.04
4,103,Singed Scalpel,$ 4.35,8,$ 34.80

In [ ]:
Data Analysis:

#1 The item that sold the most units made up 2.1% of Total Revenue and was priced at  1.18 above the average price of 3.05.

#2 %60.64 of purchases are made by people from 18 to 25 years old.

#3 Males, Females, and Other make up 82.6%, 15.2%, and 1.91% pf the population respectively. 
#Other spend the most on money per individual  3.35, followed by females 3.20, and Males spend the least at $3.05